.addStory {
    display: flex;
    flex-direction: column;
    position: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.addStory:hover {
    transform: scale(1.07);
}

.addStory > .MuiAvatar-root {
    margin: 10px;
    border: 3px solid #2e81f4;
}

.addStory > .addStory_top {
    flex: 0.7;
}

.addStory > .addStory_bottom {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.addStory_bottom > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    top: -20px;
    width: 32px;
    height: 32px;
    border: 8px solid white;
    border-radius: 50%;
    background-color: #0866FF;
}

.addStory_bottom > .icon > .MuiSvgIcon-root {
    color: white;
    font-size: 20px;
}

