.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
    display: flex;
     justify-content: space-evenly;
}

.header_input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header_input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_input > .MuiSvgIcon-root {
    color: #65676B;
}

.header_left > img {
    height: 40px;
}

.header_center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header_option > .MuiSvgIcon-root {
    color: gray;
}

.header_option:hover > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header_option {
    display: flex;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
    margin: 0 8px;
}

.header_option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    border-bottom: none;
}

.header_option-active > .MuiSvgIcon-root {
    color: #2e81f4;
}

.header_option-active {
    border-bottom: 4px solid#2e81f4;
}

.header_info {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    border: 1.5px solid #E4E6EB;
    border-radius: 50%;
}

.header_info > span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0.5px;
    bottom: -2px;
    right: -5px;
    background-color: lightgray;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.header_info > span > .MuiSvgIcon-root {
    height: 15px;
    width: 15px;
}

.header_right {
    display: flex;
    cursor: pointer;
    
}

.header_right > .icon:hover {
    background-color: lightgray;
    
}

.header_info:hover {
    -webkit-filter: brightness(88%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.header_right > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 2px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #E4E6EB;
}